{% load  staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-3.3.7-dist/css/bootstrap.min.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
</head>
<body>

{% include 'polls/header.html' %}
<div class="jumbotron">
      <div class="container">
        {% block main_content %}
        {% endblock %}
{% include 'polls/footer.html' %}
      </div>
</div>

</body>
</html>