{% extends 'polls/base.html' %}
{% block main_content %}
<h1>Choose a question</h1>
{% if latest_questions %}
  <ul>
    {% for question in latest_questions %}
      <li><a href= "{% url 'polls:detail' question.id %}"><b>{{question.question_text}}</b></a></li>
    {% endfor %}
  </ul>
{% else %}
    <p>You dont have any as of now! </p>
{% endif %}

{% endblock %}

